.BattleUI {
  text-align: center;
}

.battle-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.monster {
  text-align: center;
}

.monster-image {
  display: block;
  margin: auto;
  width: 50%;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.hp-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.hp-bar-fill {
  height: 100%;
  background-color: #4caf50; /* Green for remaining HP */
  transition: width 0.3s ease-in-out;
}

.attack-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5px;
  transition: background-color 0.3s, opacity 0.3s;
}

.attack-button.enabled {
  background-color: #2242b6; /* Green for enabled buttons */
  color: white;
}

.attack-button.disabled {
  background-color: #ccc; /* Gray for disabled buttons */
  color: #666;
  cursor: not-allowed;
  opacity: 0.6;
}