.BattleUI {
  text-align: center;
}

.battle-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.monster {
  text-align: center;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}