.back-button {
  position: absolute; /* Position the back button on the left */
  left: 10px;
  z-index: 10;
}

.back-arrow {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease-in-out;
}

.back-arrow:hover {
  transform: scale(1.2); /* Increase size by 20% on hover */
}