.PokePeruSecondaryPage {
  text-align: center;
}

.secondary-page-header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 20px;
  margin-top: 20px;
}

.secondary-page-title-container {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  overflow: hidden;
  white-space: nowrap;
  gap: 10px;
}

.secondary-page-icon {
  width: 75px;
  height: 75px;
}