.PokePeruStart {
  text-align: center;
}

.monster-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.monster-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: transform 0.2s;
  font-size: 16px;
}

.monster-button:hover {
  transform: scale(1.05);
}

.monster-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.monster-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.pokedex-link {
  display: inline-block;
}

.pokedex-image {
  width: 100px;
  height: 100px;
  transition: transform 0.3s ease-in-out;
}

.pokedex-image:hover {
  transform: scale(1.2); /* Increase size by 20% on hover */
}