.project-info {
    text-align: left;
    padding: 50px;
}

.info-images-container {
    text-align: center;
    vertical-align: middle;
}

.info-image {
    height: 100%;
    width: 100%;
}

.info-arrow-separator {
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

ul {
    list-style-type: circle;
}