.Pokedex {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  margin-bottom: 20px;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center; /* Center the title and icon */
}

.pokedex-icon {
  width: 75px;
  height: 75px;
}

.monster-list {
  list-style-type: none;
  padding: 0;
}

.monster-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 600px;
  padding: 15px;
  margin: 20px 0;
  margin-left: auto;
  margin-right: auto;
}

.monster-details {
  margin: 20px;
}

.monster-details-top {
  display: flex;
  align-items: flex-start;
  text-align: left;
}

.monster-stats-section {
  display: block;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.monster-image-dex {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-right: 15px;
}

.monster-details {
  flex: 1;
}

.monster-name {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.monster-types {
  display: flex;
  gap: 5px;
}

.type-badge {
  display: inline-block;
  padding: 5px 10px;
  margin: 5px 5px 5px 0;
  border-radius: 12px;
  color: white;
  font-weight: bold;
  text-align: center;
}

.monster-inspiration {
  margin-top: 10px;
}

.monster-description {
  font-style: italic;
  color: #555;
  margin-top: 10px;
}

.stat-bar {
  width: 100%;
  height: 20px;
  background-color: #ccc;
  border: 1px solid #000;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.bar {
  height: 100%;
  background-color: #4caf50; /* Green for remaining HP */
  transition: width 0.3s ease-in-out;
}

.stats-container {
  display: flex;
  justify-content: space-between; /* Space between labels */
  margin-top: 5px; /* Space between the bar and labels */
  align-items: center; /* Center vertically inside the parent div */
  padding: 0;
}

.stats-label-container {
  display: flex;
  justify-content: flex-start; /* Space between labels */
  align-items: left; /* Center vertically inside the parent div */
}

.stats-label {
  white-space: nowrap; /* Prevent line breaks */
  display: block; /* Ensure the label takes up the full width */
}

.total-stats {
  margin-top: 10px;
  font-size: 16px;
  color: #333;
}

.attacks-section {
  margin-top: 20px;
}

.attacks-list {
  list-style: none;
  padding: 0;
}

.attack-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.attack-name-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.attack-name {
  margin-right: 5px;
}

.attack-name-container {
  text-align: left; 
}

.attack-type-physical {
  height: 17px;
  width: 29px;
  max-width: 200%;
}

.type-badge-attack {
  font-size: small;
}

.total-statstotal-container {
  text-align: left; 
}